#body{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.6);
}

#carousel{
    position: relative;
}


.overlay{
    display:flex;
  justify-content: center;
  align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(68, 43, 12, 0.4);
    color: white;
}

#text-llamado{
    color: #EE6220 !important;
    font-size: 18px;
    font-weight: 900px;
}

.card-container{
    margin-top: 20px;
    margin-bottom: 50px;

}

a{
    text-decoration: none;
    color: #EE6220;
}

.bg{
    background-image: url(singapur/client.jpg);
    background-position: center center;
}

#main .carousel-inner img{
    max-height: 100vh;
    object-fit: cover;
    filter: grayscale(80%);
}

.container-login{
    margin-top: 100px;
margin-bottom: 20px;
}

.cards{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#evento-marca{
    background-color: #0a1039;
    color: #ffffff;
    margin-bottom: 20px;
}

#evento-marca img{
    max-width: 100%;   
}